# ESP-IDF
build/
sdkconfig
sdkconfig.old
sdkconfig.defaults.old
managed_components/
dependencies.lock
*.bin
*.elf
*.map

# Python (ESP-IDF Tools)
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

# JetBrains (CLion, IntelliJ, etc.)
.idea/
cmake-build-*/
*.iws
*.iml
*.ipr

# Unit testing
test_results/

# OS specifics
.DS_Store
Thumbs.db
desktop.ini

# C++ / IDE Cache
.cache/
